.logos
{
    background-color: transparent;
}

div.menu
{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    /**align-items: center;**/
    align-content: center;
    height: 100px;
    color: coral;
    padding: 5px;
    /*background-image: url(../images/Logos-1.png);
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;*/
}

div.menu::before
{
    content: "";
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    /*rotate: 10deg;*/
    filter: blur(5px);
    /* background-image: url(../images/Logos.png); */
    background-position: center left;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
}

div.menu:hover
{
    filter: blur(0px);    
    /* background-image: url(../images/Logos.png); */
    background-position: center left;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
}

